aside{
   
    width: 250px;
    background-color: #e8f2f3;
    color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
aside ul{
    list-style: none;
    padding: 0;
    color: #000000;
}
a{
    text-decoration: none;
    color: #000000;
    
}
.drp{
    position: absolute;
    background-color: #dce0e2;
    border: none;
    color: #000000;
    width: 100%;
    border-radius: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.904) -2px -2px 5px rgba(221, 221, 221, 0.774);
   

}
.drp:hover{
    background-color: #03393d;
    color: #ffffff;}
.dropdown{
 background: transparent;
}
.drpitem {
    width:100%;
     position: absolute;
     border-radius: 0;
    
     
}
.drpitem li a{
 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.904) -2px -2px 5px rgba(221, 221, 221, 0.774);
    margin-bottom:4px ;
}
.drpitem li a:hover{
    background-color: #da800b;
}

